@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

body{
    background: #081b29; 
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky{
    background: var(--bg-color);
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 5s;
    z-index: 2;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.home{
    height: 100vh;
    /* background: url('/assets/img/logo_farid.png') no-repeat;
    background-size: cover; */
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 700px;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line_height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    position:relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box{
    position: relative;
    display:flex;
    justify-content: space-between;
    width: 345px;
    height: 50px; 
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(1){
    background: transparent;
    color:#00abf0
}

.btn-box a:nth-child(1):hover{
    color:#081b29
}

.btn-box a:nth-child(1)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}


/* section home */

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}


.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-main-img img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 100px; 
}

@media (max-width: 1100px) {
    .home-main-img {
        display: none;
    }
}

.home-imgHover{
    background: transparent;
    transition:3s;
}

.home-imgHover:hover{
    background: #081b29;
    opacity: .22;
}

.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100%{
        width: 0;
    }
}

/* section about me */
.about-me{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}


.heading{
    font-size: 4rem;
    margin-top: 4.7rem;
    margin-bottom: 1rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-me-img{
    position:relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.about-me-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-me-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about-me-content{
    text-align: center;
}

.about-me-content h3{
    font-size: 2.3rem;
    color: var(--main-color);
}

.about-me-content p{
    font-size: 1.3rem;
    margin: 2rem 0 3rem;
}

.about-me-content .btn-box{
    display: inline-block;
    width: 345px;
    height: 50px; 
}


.btn-box .btns a::before{
    background: var(--second-bg-color);
}

/* section my projects */
.my-projects-content .content .btn-box{
    display: inline-block;
    height: 35px; 
}

.my-projects{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.my-projects .my-projects-row{
    display:flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.my-projects-row .my-projects-column{
    flex: 1 1 40rem;
}

.my-projects-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.my-projects-column .my-projects-box{
    border-left: .2rem solid var(--main-color);
}

.my-projects-box .my-projects-content{
    position: relative;
    padding-left: 2rem;
}

.my-projects-box .my-projects-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.my-projects-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.my-projects-content .content::before{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.my-projects-content .content:hover::before{
    width: 100%;
}


.my-projects-content .content .year{
    font-size: 20px;
    color: var(--main-color);
    padding-bottom: .2rem;
}

.my-projects .content .year i{
    margin-right: 20px;
}

.my-projects .content h3{
    font-size: 1.5rem;
}

.my-projects .content p{
    font-size: 16px;;
    padding-top: .5rem;
}

/* section my songs*/
 .songs{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: raw;
    gap: 2rem;
    background: var(--bg-color);
    padding-bottom: 6rem;
}

.songs-container {
    padding-top: 4rem;
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 5.5rem;
}

.songs-card {
    margin: 5rem auto; 
    width: 250px; 
    background-color: var(--container-color);
    box-shadow: 0 10px 25px hsla(19, 64%, 48%, .08);
    border-radius: 1rem;
    transition: background .4s;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 310px;
    margin-left: 150px;
}
.songs-card .songs-name{
    margin-top: 20px;
}

@media (max-width: 1100px) {
    .songs-card {
        margin-left: 0;
        height: 250px;
    }
    .songs-card .songs-name{
        margin-top: 20px;
    }
    
}

.songs-img {
    width: 125px;
}

.songs-name {
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    margin-bottom: .25rem;
}

.songs-description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}


.songs-card:hover .songs-img {
    transform: translateY(-.25rem);
}

.songs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: raw;
    gap: 2rem;
    background: var(--bg-color);
    padding-bottom: 6rem;
}

@media (max-width: 1100px) {
    .songs {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        background: var(--bg-color);
        padding-bottom: 6rem;
    }
}


.see-songs-btn{
    bottom: 40px;
    width: 170px;
}

.see-songs-btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}


.see-songs-btn a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.see-songs-btn a:hover{
    color: #081b29;
}

.see-songs-btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: .5s;
}

.see-songs-btn a:hover::before{
    width: 100%;
} 


/* fotter */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1rem;
}

.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    padding: .5rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before{
    width: 100%;
}

.footer-iconTop a i{
    font-size: 3rem;
    color:var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i{
    color: var(--main-color);
}


/* BREAKPOINTS */
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:991px){
    .header{
       padding: 10rem 4% ;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
}

#menu-icon {
    font-size: 3.5rem;
    display: none;
}

@media(max-width:948px){
    .home{
        margin-top: 100px;
    }
    .btn-box{
        margin-bottom: 130px;
    }
    .header{
        background:var(--bg-color);
     }
     #menu-icon {
        display: block;
    }
    .navbar{
        position:absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        z-index: 1;
        transition: .25s ease;
    }
    .menu-icon {
        font-size: 3.5rem;
        display: none;
    }
    .navbar.active{
        left:0;
        transition-delay:0s;
    }
    .navbar .active-nav{
        position:absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: 1rem solid var(--main-color);
        z-index: -1;
        transition: .25s ease;
        transition-delay:0;
    }
    .navbar.active .active-nav{
        transition-delay:.25s;
        left:0;
    }
    .navbar a{
        display: block;
        font-size: 2.4rem;
        margin: 3rem 0;
    }
    .footer{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .footer .footer-iconTop{
        margin-top: 10px;
    }

}

